<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost/Projet-C/api/" />
    <add key="ApiKey" value="gmatos-dev-key-7f3a9c2e1b8d4e6f" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
